h1 {
    color: brown;   /*probando commit*/
}

body {
    background: linear-gradient(to right, black, white);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: darksalmon;
    cursor: default;
}

h1 h2 h3 {
    font-size: 3em;
    font-size: 1.5em; 
    font-size: 1.2em;
}

h3 {
    font-weight: normal;
    text-transform: none;
    cursor: text;
}

.todo {
    display: inline-block;
    padding: 20px;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.colores {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.colores input {
    cursor: pointer;
}


@media screen and (max-width: 1120px) {
    h1 {
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    h3 {
        font-size: 1em;
    }
    .colores {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 1em;
    }
    h2{
        font-size: 0.8em;
    }
    h3 {
        font-size: 0.8em;
    }
    .colores {
        margin-bottom: 20px;
    }
}
